<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">About me</h2>
        <div class="about-content">
            <div class="column left">
                <img src="assets/images/back2.jpg" alt="">
            </div>
            <div class="column right">
                <div class="text">Saya Al-muzammil dan saya <span class="typing-2"></span></div>
                <p>Perkenalkan, nama saya Al-muzammil Bin Husnan, biasanya saya dipanggil SAMMIR atau DEK MIL, saya lahir di Aceh, saya tinggal di aceh untuk sementara, karna ada project yang harus diselesaikan, dan disini saya dan team siap membantu anda dalam melakukan pekerjaan, baik itu Project besar atau kecil, saya akan kembali ke jerman, perancis, turki, Amerika dan Dubai pada tahun 2030 untuk melanjutkan pekerjaan saya disana. dan saya akan pulang kembali ke aceh pada tahun 2045. semoga panjang umur, sehat, dan rezeki melimpah untuk kita semua, Aamiin.</p>
                <a href="assets/images/cv1.pdf">Download CV</a>
            </div>
        </div>
    </div>
</section>
