<section class="services" id="services">
    <div class="max-width">
        <h2 class="title">My services</h2>
        <div class="serv-content">
            <div class="card">
                <div class="box">
                    <i class="fas fa-paint-brush"></i>
                    <div class="text">Web Design</div>
                    <p>Siap membantu dalam pembuatan web design, dan design apa saja dan melayani anda sepenuh nya.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-chart-line"></i>
                    <div class="text">Advertising</div>
                    <p>Siap membantu anda dalam membuat iklan, baik berupa iklan tv atau umum dan melayani anda sepenuh nya.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-code"></i>
                    <div class="text">Apps Design</div>
                    <p>Siap membantu dalam membuat aplikasi, dan design dan melayani anda sepenuh nya.</p>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>