<section class="teams" id="teams">
    <div class="max-width">
        <h2 class="title">My teams</h2>
        <div class="carousel owl-carousel">
            <div class="card">
                <div class="box">
                    <img src="assets/images/t1.jpg" alt="">
                    <div class="text">Baby Boss</div>
                    <p>Dia adalah seorang Boss Bayi yang sangat cerdas dalam menyelesaikan suatu masalah, makanya disini saya memakai dia untuk Team.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="assets/images/t2.jpg" alt="">
                    <div class="text">Spongebob</div>
                    <p>Dia merupakan orang yang dilaut dalam yang bisa mematai semua orang untuk dalam sekejap, saya suka dengan spongebob karna dia bisa membuat orang selalu semangat.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="assets/images/t3.jpg" alt="">
                    <div class="text">Patrick</div>
                    <p>Bintang laut yang tidak mempunyai otak, tapi bisa berpikir seperti orang yang punya otak, saya salut sama patrick, makanya dia team saya.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="assets/images/t4.jpg" alt="">
                    <div class="text">Upin</div>
                    <p>Sikembar yang cerdas dan pandai dalam bertindak dan Aksi yang yang sangat luar biasa dalam melakukan sebuah pekerjaan, My team is the best.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="assets/images/t5.jpg" alt="">
                    <div class="text">Ipin</div>
                    <p>Sikembar yang cerdas dan pandai dalam bertindak dan Aksi yang yang sangat luar biasa dalam melakukan sebuah pekerjaan, My team is the best.</p>
                </div>
            </div>
        </div>
    </div>
</section>